<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.club_ms.mapper.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liu.club_ms.model.Activity">
        <id column="activity_id" property="activityId"/>
        <result column="name" property="name"/>
        <result column="club_id" property="clubId"/>
        <result column="tel" property="tel"/>
        <result column="images" property="images"/>
        <result column="ac_info" property="acInfo"/>
        <result column="ac_time" property="acTime"/>
        <result column="ac_address" property="acAddress"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="host_id" property="hostId"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="queryActivityInfoListMap"
                type="com.liu.club_ms.model.Activity"
                extends="BaseResultMap">
        <result column="club_name" property="clubName"/>
        <result column="host_name" property="hostName"/>
        <result column="creator_name" property="creatorName"/>
    </resultMap>

    <!-- 查询活动信息 -->
    <select id="queryActivityInfoList"
            resultMap="queryActivityInfoListMap">
        SELECT
        ac.activity_id,
        ac.name,
        ac.club_id,
        ac.tel,
        ac.images,
        ac.ac_info,
        ac.ac_time,
        ac.ac_address,
        ac.user_id,
        ac.create_time,
        ac.host_id,
        ac.status,
        club.club_name as club_name,
        h.real_name as host_name,
        c.real_name as creator_name
        FROM activity as ac
        LEFT JOIN club ON club.club_id = ac.club_id
        LEFT JOIN user as c ON c.user_id = ac.host_id
        LEFT JOIN user as h ON h.user_id = ac.user_id
        <where>
            <if test="name!=null and name!=''">
                and ac.name like CONCAT('%', #{name}, '%')
            </if>
            <if test="creatorName!=null and creatorName!=''">
                and c.user_name like CONCAT('%', #{creatorName}, '%')
            </if>
            <if test="clubId!=null">
                and club.club_id = #{clubId}
            </if>
            <if test="captainId!=null">
                and ac.user_id =#{captainId}
            </if>
        </where>
        <if test="order!=null and order!=''">
            ORDER BY activity_id
            <choose>
                <when test="order == 'ASC'">
                    ASC
                </when>
                <otherwise>
                    DESC
                </otherwise>
            </choose>
        </if>
    </select>

    <!--  编辑活动状态  -->
    <update id="editStatusById">
        UPDATE activity
        SET status = #{status}
        WHERE activity_id = #{activityId}
    </update>

    <!-- 编辑活动信息 -->
    <update id="editActivity"
            parameterType="com.liu.club_ms.model.Activity">
        UPDATE activity
        <set>
            <if test="name != null and name !=''">name = #{name},</if>
            <if test="clubId != null">`club_id` = #{clubId},</if>
            <if test="tel != null and tel !=''">tel = #{tel},</if>
            <if test="images != null and images !=''">images = #{images},</if>
            <if test="acInfo != null and acInfo !=''">ac_info = #{acInfo},</if>
            <if test="acTime != null and acTime !=''">ac_time = #{acTime},</if>
            <if test="acAddress != null and acAddress !=''">ac_address = #{acAddress},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="hostId != null">host_id = #{hostId},</if>
            <if test="createTime != null and createTime !=''">create_time = #{createTime},</if>
            <if test="status != null">`status` = #{status},</if>
        </set>
        WHERE activity_id = #{activityId}
    </update>

    <!--  添加活动  -->
    <insert id="addActivity">
        INSERT INTO activity (
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="clubId != null">club_id,</if>
            <if test="tel != null and tel != ''">tel,</if>
            <if test="images != null and images != ''">images,</if>
            <if test="acInfo != null and acInfo != ''">ac_info,</if>
            <if test="acTime != null and acTime != ''">ac_time,</if>
            <if test="acAddress != null and acAddress != ''">ac_address,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null and createTime != ''">create_time,</if>
            <if test="hostId != null">host_id,</if>
            <if test="status != null">status,</if>
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="clubId != null">#{clubId},</if>
            <if test="tel != null and tel != ''">#{tel},</if>
            <if test="images != null and images != ''">#{images},</if>
            <if test="acInfo != null and acInfo != ''">#{acInfo},</if>
            <if test="acTime != null and acTime != ''">#{acTime},</if>
            <if test="acAddress != null and acAddress != ''">#{acAddress},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="status != null">#{status},</if>
        </trim>
        )
    </insert>

    <!-- 通过ID删除活动记录 -->
    <delete id="deleteById">
        DELETE FROM activity
        WHERE activity_id = #{activityId}
    </delete>

    <!-- 通过社团ID删除活动记录 -->
    <delete id="deleteActivityByClubId">
        DELETE
        FROM activity
        WHERE club_id = #{clubId}
    </delete>

    <!-- 更新活动记录当创建者被删除 -->
    <update id="updateActivityWhenUserDelete">
        UPDATE activity
        SET user_id = -1
        WHERE user_id = #{userId}
    </update>

    <!-- 更新活动记录当主持人被删除 -->
    <update id="updateActivityWhenHostDelete">
        UPDATE activity
        SET host_id = -1
        WHERE host_id = #{hostId}
    </update>

    <!-- 通过用户ID查询社团活动 -->
    <select id="queryActivityListByUserId"
            resultMap="queryActivityInfoListMap">
        SELECT
        ac.activity_id,
        ac.name,
        ac.ac_time,
        ac.ac_address,
        ac.create_time,
        ac.status,
        club.club_name as club_name
        FROM activity as ac
        LEFT JOIN club ON club.club_id = ac.club_id
        LEFT JOIN club_member as cm
        ON cm.club_id = ac.club_id
        <where>
               ac.status != 0
            <if test="userId != null">
                and cm.user_id = #{userId}
            </if>
        </where>
    </select>

    <!-- 通过活动ID查询活动信息 -->
    <select id="queryActivityListById"
            resultMap="queryActivityInfoListMap">
        SELECT
        ac.activity_id,
        ac.name,
        ac.club_id,
        ac.tel,
        ac.images,
        ac.ac_info,
        ac.ac_time,
        ac.ac_address,
        ac.user_id,
        ac.create_time,
        ac.host_id,
        ac.status,
        club.club_name as club_name,
        h.real_name as host_name,
        c.real_name as creator_name
        FROM activity as ac
        LEFT JOIN club ON club.club_id = ac.club_id
        LEFT JOIN user as c ON c.user_id = ac.host_id
        LEFT JOIN user as h ON h.user_id = ac.user_id
        <where>
            <if test="activityId!=null">
                and ac.activity_id =#{activityId}
            </if>
        </where>
    </select>

    <!-- 通过社团ID更新创建者ID -->
    <update id="updateUserIdByClubId">
        UPDATE activity
        SET user_id = #{userId}
        WHERE club_id = #{clubId}
    </update>
</mapper>