<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.club_ms.mapper.ApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liu.club_ms.model.ApplyInfo">
        <id column="apply_info_id" property="applyInfoId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="club_Id" property="clubId"/>
    </resultMap>

    <!-- 查询申请信息映射结果 -->
    <resultMap id="queryApplyInfoListMap"
               type="com.liu.club_ms.model.ApplyInfo"
               extends="BaseResultMap">

        <association property="club"
                     javaType="com.liu.club_ms.model.Club">
            <id column="club_id" property="clubId"/>
            <result column="club_name" property="clubName"/>
        </association>

        <association property="user"
                     javaType="com.liu.club_ms.model.User">
            <id column="user_id" property="userId"/>
            <result column="user_name" property="userName"/>
            <result column="real_Name" property="realName"/>
            <result column="sex" property="sex"/>
            <result column="tel" property="tel"/>
            <result column="email" property="email"/>
            <result column="qq" property="qq"/>
            <result column="wx" property="wx"/>
            <result column="image" property="image"/>
            <result column="type" property="type"/>
            <result column="create_time" property="createTime"/>
        </association>

    </resultMap>

    <select id="queryApplyInfoList"
            resultMap="queryApplyInfoListMap"
            parameterType="com.liu.club_ms.model.ApplyInfo">
        SELECT ai.* , club.club_name, user.*
        FROM apply_info AS ai
        LEFT JOIN club
        ON ai.club_id = club.club_id
        LEFT JOIN user
        ON ai.user_id = user.user_id
        <where>
            <if test="user.realName!=null and user.realName!=''">
                and user.real_name like CONCAT('%', #{user.realName}, '%')
            </if>
            <if test="clubId!=null">
                and ai.club_id = #{clubId}
            </if>
            <if test="club!=null">
                <if test="club.captainId!=null">
                    and club.captain_id = #{club.captainId}
                </if>
            </if>
        </where>
    </select>

    <select id="queryApplyListByApplyInfoId"
            resultType="com.liu.club_ms.model.ApplyList"
            parameterType="integer">
        SELECT al.apply_list_id, al.content al.create_time, al.author_id, user_name as author_name
        FROM apply_list as al
        LEFT JOIN user
        ON user.user_id = al.author_id
        <where>
            <if test="applyInfoId!=null">
                and al.apply_info_id =  #{applyInfoId}
            </if>
        </where>
    </select>

    <update id="editApplyInfoStatusById"
            parameterType="com.liu.club_ms.model.ApplyInfo">
        UPDATE apply_info
        SET status=#{status}
        WHERE apply_info_id = #{applyInfoId}
    </update>

<!--  添加入团申请审核  -->
    <insert id="addApplyList"
            parameterType="com.liu.club_ms.model.ApplyList">
        INSERT INTO apply_list(apply_info_id,
                               content,
                               author_id
        )
        VALUES (
                #{applyInfoId},
                #{content},
                #{authorId}
               )

    </insert>

    <insert id="addApplyInfo"
            parameterType="com.liu.club_ms.model.ApplyInfo">
        INSERT INTO apply_info(user_id,
                               content,
                               club_id,
                               status,
                            create_time
        )
        VALUES (
                   #{userId},
                   #{content},
                   #{clubId},
                   #{status},
                   #{createTime}
               )
    </insert>

    <delete id="deleteApplyListByApplyInfoId">
        DELETE FROM apply_list
        WHERE apply_info_id = #{applyInfoId}
    </delete>

    <delete id="deleteApplyInfoById">
        DELETE FROM apply_info
        WHERE apply_info_id = #{applyInfoId}
    </delete>

</mapper>