<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.club_ms.mapper.MeetingInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liu.club_ms.model.MeetingInfo">
        <id column="mi_id" property="miId"/>
        <result column="name" property="name"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="club_id" property="clubId"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <!-- queryMeetingInfoList映射结果 -->
    <resultMap id="queryMeetingInfoListMap"
               type="com.liu.club_ms.model.MeetingInfo"
               extends="BaseResultMap">
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="club_name" property="clubName"/>
    </resultMap>

    <!-- 分页查询或者高级查询会议记录 -->
    <select id="queryMeetingInfoList"
            resultMap="queryMeetingInfoListMap">
        SELECT m.mi_id,
        m.name,
        m.start_time,
        m.end_time,
        m.password,
        u.user_name,
        u.real_name,
        c.club_name
        FROM meeting_info as m
        LEFT JOIN user as u
        ON u.user_id = m.user_id
        LEFT JOIN club as c
        ON c.club_id = m.club_id
        <where>
            <if test="realName != null and realName!=''">
                and u.real_name LIKE CONCAT('%', #{realName}, '%')
            </if>
            <if test="name != null and name!=''">
                and n.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="clubName!=null and clubName!=''">
                and c.club_name = CONCAT('%', #{clubName}, '%')
            </if>
            <if test="userId!=null">
                and c.captain_id = #{userId}
            </if>
        </where>
        <if test="order!=null and order!=''">
            ORDER BY m.mi_id
            <choose>
                <when test="order == 'ASC'">
                    ASC
                </when>
                <otherwise>
                    DESC
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 编辑会议记录 -->
    <update id="editMeetingInfo"
            parameterType="com.liu.club_ms.model.MeetingInfo">
        UPDATE meeting_info
        <set>
            <trim suffixOverrides=",">
                <if test="name != null and name != ''">name = #{name},</if>
                <if test="startTime != null and startTime != ''">start_time = #{startTime},</if>
                <if test="endTime != null and endTime != ''">end_time = #{endTime},</if>
                <if test="clubId != null">club_id = #{clubId},</if>
                <if test="userId != null">user_id = #{userId},</if>
                <if test="password != null and password != ''">`password` = #{password},</if>
            </trim>
        </set>
        WHERE mi_id = #{miId}
    </update>

    <!-- 添加会议记录 -->
    <insert id="addMeetingInfo"
            parameterType="com.liu.club_ms.model.MeetingInfo">
        INSERT INTO meeting_info(
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="startTime != null and startTime != ''">start_time,</if>
            <if test="endTime != null and endTime != ''">end_time,</if>
            <if test="clubId != null">club_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="password != null and password != ''">`password`,</if>
        </trim>
        )
        VALUES(
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="startTime != null and startTime != ''">#{startTime},</if>
            <if test="endTime != null and endTime != ''">#{endTime},</if>
            <if test="clubId != null">#{clubId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="password != null and password != ''">#{password},</if>
        </trim>
               )
    </insert>


    <!-- 通过ID删除会议记录 -->
    <delete id="deleteById">
        DELETE
        FROM meeting_info
        WHERE mi_id = #{miId}
    </delete>

    <!-- 通过社团ID删除会议记录 -->
    <delete id="deleteMeetingInfoByClubId">
        DELETE
        FROM meeting_info
        WHERE club_id = #{clubId}
    </delete>

    <!-- 通过社团ID删除会议记录 -->
    <update id="updateMeetingInfoWhenDeleteUser">
        UPDATE meeting_info
        <set>
            <trim suffixOverrides=",">
                <if test="userId != null">user_id = -1,</if>
            </trim>
        </set>
        WHERE user_id = #{userId}
    </update>

    <!-- 通过用户ID获取社团会议信息 -->
    <select id="queryMeetingInfoListByUserId"
            resultMap="queryMeetingInfoListMap">
        SELECT m.mi_id,
        m.name,
        m.start_time,
        m.end_time,
        m.password,
        c.club_name
        FROM meeting_info as m
        LEFT JOIN club_member as cm
        ON cm.club_id = m.club_id
        LEFT JOIN club as c
        ON c.club_id = m.club_id
        <where>
            <if test="userId != null">
                and cm.user_id = #{userId}
            </if>
            <if test="curTime != null and curTime != ''">
                and m.end_time > #{curTime}
            </if>
        </where>
    </select>

    <!-- 通过会议Id获取会议信息 -->
    <select id="getMeetingInfoById"
            resultMap="BaseResultMap">
        SELECT m.mi_id,
        m.name,
        m.password,
        m.end_time,
        m.user_id
        FROM meeting_info as m
        <where>
            <if test="miId != null">
                and m.mi_id = #{miId}
            </if>
            <if test="curTime != null and curTime != ''">
                and m.end_time > #{curTime}
            </if>
        </where>
    </select>

    <select id="getMeetingInfoByName"
            resultMap="BaseResultMap">
        SELECT m.mi_id,
        m.name,
        m.password,
        m.end_time,
        m.user_id
        FROM meeting_info as m
        <where>
            <if test="name != null and name != ''">
                and m.name = #{name}
            </if>
            <if test="curTime != null and curTime != ''">
                and m.end_time > #{curTime}
            </if>
        </where>
    </select>

</mapper>