<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.club_ms.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liu.club_ms.model.Notice">
        <id column="notice_id" property="noticeId"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- queryNoticeList映射结果 -->
    <resultMap id="queryNoticeListMap"
               type="com.liu.club_ms.model.Notice"
               extends="BaseResultMap">
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="club_name" property="clubName"/>
    </resultMap>

    <!-- 分页查询或者高级查询公告 -->
    <select id="queryNoticeList"
            resultMap="queryNoticeListMap">
        SELECT n.notice_id,
        n.content,
        n.title,
        n.create_time,
        u.user_name,
        u.real_name,
        c.club_name
        FROM notice as n
        LEFT JOIN user as u
        ON u.user_id = n.user_id
        LEFT JOIN club as c
        ON c.club_id = n.club_id
        <where>
            <if test="realName != null and realName!=''">
                and u.real_name LIKE CONCAT('%', #{realName}, '%')
            </if>
            <if test="title != null and title!=''">
                and n.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="clubName!=null and clubName!=''">
                and c.club_name = CONCAT('%', #{clubName}, '%')
            </if>
            <if test="captainId!=null">
                and c.captain_id = #{captainId}
            </if>
        </where>
        <if test="order!=null and order!=''">
            ORDER BY n.notice_id
            <choose>
                <when test="order == 'ASC'">
                    ASC
                </when>
                <otherwise>
                    DESC
                </otherwise>
            </choose>
        </if>
    </select>



    <!-- 编辑公告 -->
    <update id="editNotice"
            parameterType="com.liu.club_ms.model.Notice">
        UPDATE notice
        <set>
            <trim suffixOverrides=",">
                <if test="userId != null">user_id = #{userId},</if>
                <if test="clubId != null">club_id = #{clubId},</if>
                <if test="title!=null and title!=''">title = #{title},</if>
                <if test="content!=null and content!=''">content = #{content},</if>
                <if test="createTime!=null and createTime!=''">create_time = #{createTime},</if>
            </trim>
        </set>
        WHERE notice.notice_id = #{noticeId}
    </update>

    <!-- 添加公告 -->
    <insert id="addNotice"
            parameterType="com.liu.club_ms.model.Notice">
        INSERT INTO notice(
        <trim suffixOverrides=",">
            <if test="content != null and content != ''">content,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="userId != null">user_id,</if>
            <if test="clubId != null">club_id,</if>
            <if test="createTime != null and createTime != ''">create_time,</if>
        </trim>
        )
        VALUES(
        <trim suffixOverrides=",">
            <if test="content != null and content != ''">#{content},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="userId != null">#{userId},</if>
            <if test="clubId != null">#{clubId},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
        </trim>
    </insert>

    <!-- 通过ID删除公告 -->
    <delete id="deleteById">
        DELETE
        FROM notice
        WHERE notice_id = #{noticeId}
    </delete>

    <!-- 通过社团ID删除公告 -->
    <delete id="deleteByClubId">
        DELETE
        FROM notice
        WHERE club_id = #{clubId}
    </delete>

    <!-- 通过删除的发布者ID更新公告 -->
    <update id="updateNoticeWhenDeleteUser">
        UPDATE notice
        <set>
            <trim suffixOverrides=",">
                <if test="userId != null">user_id = -1,</if>
            </trim>
        </set>
        WHERE user_id = #{userId}
    </update>

    <!-- 通过ID查询公告 -->
    <select id="queryNoticeById"
            resultMap="queryNoticeListMap">
        SELECT n.notice_id,
        n.content,
        n.title,
        n.create_time,
        u.user_name,
        u.real_name,
        c.club_name
        FROM notice as n
        LEFT JOIN user as u
        ON u.user_id = n.user_id
        LEFT JOIN club as c
        ON c.club_id = n.club_id
        <where>
            <if test="noticeId != null">
                and n.notice_id = #{noticeId}
            </if>
        </where>
    </select>
</mapper>