<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.club_ms.mapper.CategoryMapper">

    <!-- 分页查询或高级查询社团类型 -->
    <select id="queryCategoryList"
            resultType="com.liu.club_ms.model.Category"
            parameterType="com.liu.club_ms.model.Category">
        SELECT category_id, category_name, remarks
        FROM category
        <where>
            category_id != -1
            <if test="categoryName!=null and categoryName!=''">
                and category_name like CONCAT('%', #{categoryName}, '%')
            </if>
        </where>
        <if test="order!=null and order!=''">
            ORDER BY category_id
            <choose>
                <when test="order == 'ASC'">
                    ASC
                </when>
                <otherwise>
                    DESC
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 查询所有社团类型 -->
    <select id="queryAllCategoryList" resultType="com.liu.club_ms.model.Category">
        SELECT category_id, category_name, remarks
        FROM category
    </select>

</mapper>