<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.club_ms.mapper.LeaveInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liu.club_ms.model.LeaveInfo">
        <id column="leave_info_id" property="leaveInfoId"/>
        <result column="user_id" property="userId"/>
        <result column="club_id" property="clubId"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- queryLeaveInfoList映射结果 -->
    <resultMap id="queryLeaveInfoListMap"
               type="com.liu.club_ms.model.LeaveInfo"
                extends="BaseResultMap">
        <result column="real_name" property="realName"/>
        <result column="club_name" property="clubName"/>
        <result column="user_name" property="userName"/>
    </resultMap>

    <!-- 分页查询或者高级查询在线留言 -->
    <select id="queryLeaveInfoList"
            resultMap="queryLeaveInfoListMap">
            SELECT li.leave_info_id,
                   li.user_id,
                   li.club_id,
                   li.content,
                   li.create_time,
                   user.real_name,
                   user.user_name,
                   club.club_name
            FROM leave_info as li
            LEFT JOIN user ON li.user_id = user.user_id
            LEFT JOIN club ON li.club_id = club.club_id
            <where>
                <if test="realName!=null and realName!=''">
                    and user.real_name LIKE CONCAT('%', #{realName}, '%')
                </if>
                <if test="clubId!=null">
                    and club.club_id = #{clubId}
                </if>
                <if test="captainId!=null">
                    and club.captain_id = #{captainId}
                </if>
            </where>
        <if test="order!=null and order!=''">
            ORDER BY li.leave_info_id
            <choose>
                <when test="order == 'ASC'">
                    ASC
                </when>
                <otherwise>
                    DESC
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 编辑在线留言 -->
    <update id="editLeaveInfo">
        UPDATE leave_info
        <set>
            <trim suffixOverrides=",">
                <if test="userId != null">user_id = #{userId},</if>
                <if test="clubId!=null">club_id = #{clubId},</if>
                <if test="content!=null and content!=''">content = #{content},</if>
                <if test="createTime!=null and createTime!=''">create_time = #{createTime},</if>
            </trim>
        </set>
        WHERE leave_info.leave_info_id = #{leaveInfoId}
    </update>

    <!-- 添加在线留言 -->
    <insert id="addLeaveInfo"
            parameterType="com.liu.club_ms.model.LeaveInfo">
        INSERT INTO leave_info(
        <trim suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="clubId != null">club_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null and createTime != ''">create_time,</if>
        </trim>
        )
        VALUES(
        <trim suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="clubId != null">#{clubId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null and createTime != ''">#{createTime},</if>
        </trim>
        )
    </insert>
    <!-- 通过ID删除在线留言 -->
    <delete id="deleteById">
        DELETE
        FROM leave_info
        WHERE leave_info_id = #{leaveInfoId}
    </delete>

    <!-- 通过用户ID删除在线留言 -->
    <delete id="deleteByUserId">
        DELETE
        FROM leave_info
        WHERE user_id = #{userId}
    </delete>

    <!-- 通过删除的社团ID删除所有对应在线留言 -->
    <delete id="deleteLeaveInfoWhenDeleteClub">
        DELETE
        FROM leave_info
        WHERE club_id = #{clubId}
    </delete>

    <!-- 通过用户ID查询在线留言 -->
    <select id="queryLeaveInfoListByUserId"
        resultMap="queryLeaveInfoListMap">
        SELECT li.leave_info_id,
        li.content,
        li.create_time,
        club.club_name
        FROM leave_info as li
        LEFT JOIN user ON li.user_id = user.user_id
        LEFT JOIN club ON li.club_id = club.club_id
        <where>
            <if test="userId!=null">
                and li.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="queryLeaveInfoListByClubId"
            resultMap="queryLeaveInfoListMap">
        SELECT li.leave_info_id,
        li.content,
        li.create_time,
        user.user_name
        FROM leave_info as li
        LEFT JOIN user ON li.user_id = user.user_id
        <where>
            <if test="clubId != null">
                and li.club_id = #{clubId}
            </if>
        </where>
    </select>
</mapper>