<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.club_ms.mapper.ApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liu.club_ms.model.ApplyInfo">
        <id column="apply_info_id" property="applyInfoId"/>
        <result column="real_name" property="realName"/>
        <result column="sex" property="sex"/>
        <result column="user_id" property="userId"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="address" property="address"/>
        <result column="qq" property="qq"/>
        <result column="wx" property="wx"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="club_Id" property="clubId"/>
    </resultMap>

    <!-- 查询申请信息映射结果 -->
    <resultMap id="queryApplyInfoListMap"
               type="com.liu.club_ms.model.ApplyInfo"
               extends="BaseResultMap">

        <association property="club"
                     javaType="com.liu.club_ms.model.Club">
            <id column="club_id" property="clubId"/>
            <result column="club_name" property="clubName"/>
            <result column="captain_id" property="captainId"/>
        </association>

    </resultMap>

    <select id="queryApplyInfoList"
            resultMap="queryApplyInfoListMap"
            parameterType="com.liu.club_ms.model.ApplyInfo">
        SELECT ai.* , club.club_name
        FROM apply_info AS ai
        LEFT JOIN club
        ON ai.club_id = club.club_id
        <where>
            <if test="tel!=null and tel!=''">
                and tel like CONCAT('%', #{tel}, '%')
            </if>
            <if test="clubId!=null">
                and ai.club_id = #{clubId}
            </if>
            <if test="club!=null">
                <if test="club.captainId!=null">
                    and club.captain_id = #{club.captainId}
                </if>
            </if>
        </where>
    </select>

    <!-- 通过申请审核Id查询申请审核信息映射结果 -->
    <resultMap id="queryApplyListByIdMap"
               type="com.liu.club_ms.model.ApplyList">
        <id column="apply_list_id" property="applyListId"/>
        <result column="apply_info_id" property="applyInfoId"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="apply_author_id" property="applyAuthorId"/>

        <association property="admin"
                     javaType="com.liu.club_ms.model.Admin">
            <id column="admin_id" property="adminId"/>
            <result column="admin_name" property="adminName"/>
        </association>

    </resultMap>

    <select id="queryApplyListByApplyInfoId"
            resultType="com.liu.club_ms.model.ApplyList"
            parameterType="integer">
        SELECT al.*
        FROM apply_list as al
        LEFT JOIN admin
        ON admin.admin_id = al.apply_author_id
        <where>
            <if test="applyInfoId!=null">
                and al.apply_info_id =  #{applyInfoId}
            </if>
        </where>
    </select>

    <update id="updateStatus"
            parameterType="com.liu.club_ms.model.ApplyInfo">
        UPDATE apply_info
        SET status=#{status}
        WHERE apply_info_id = #{applyInfoId}
    </update>

    <insert id="insertApplyList"
            parameterType="com.liu.club_ms.model.ApplyList">
        INSERT INTO apply_list
            (
                apply_info_id,
                content,
                status,
                create_time,
                apply_author_id
            )
        VALUES
            (
                #{applyInfoId},
                #{content},
                #{status},
                #{createTime},
                #{applyAuthorId}
            )
    </insert>

</mapper>